.bg1{
  background-image:url("bg2.jpg");
  height:100vh;
  /* parallax scroll effect */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2{
  background-image:url("bg3.jpg");
  height:100vh;
  /* parallax scroll effect */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width:600px) {
  #display{
    color: black;
  }
  #btn-search{
    margin-top:4px;
  }
  body{
    margin-left: auto;
    margin-right: auto;
  }
}
.jumbo{
  position: absolute;
  top:30%;
  left: 19.5%;
}
.display{
  color: #f2f4f7;
  font-size: 60px;
  font-weight: 700;
}
.display1{
  color: #f2f4f7;
  font-weight: 450;
}
.smal{
  font-size: 20px;
  color: white;
}
.home-btn{
  background: rgba(242, 242, 242, 0.4);
  color: black;

}
.home-btn:hover{
  color: #d0d4db;
}
/* .btnsearch{
  background:rgba(242, 242, 242, 0.4);
  color: white;
} */
.heading{
  margin-top: 1%;
  font-family: 'Acme', cursive;
}
.imga{
  transition: 1s;
  padding: 10px;
    width: 300px;
    height: 200px;
}
.newcontainer{
margin: 10px 50px 0px 50px;
}
//modal img
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {
  filter: grayscale(20%);
  transition: .5s;
  transform:scale(1.1);}
.drop{
  background-color: #9EB7BC;
}
#drop{
  background-color: #DFEDF0;
}
.divider{
  height: 0px;
  margin:.5rem 0;
  overflow: hidden;
  border-top: 1px solid black;
}
.style{
  font-family: 'Righteous' ,cursive;
}
.underline:hover{
  transition: .2s;
  border-bottom: 2px solid grey;
}
.transparent{
  background: rgba(0, 0, 0, 0.6);
}
.over{
  position: absolute;
  top: 25%;
  height: 40%;
  width: 40%;
  left: 50%;
}
.line{
  width:80%;
}
.head1{
  font-size: 1.5em;
  font-family: 'Bitter', serif;
}
