.bg1{
  background-image:url("bg2.jpg");
  height:100vh;
  /* parallax scroll effect */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width:600px) {
  #display{
    color: black;
  }
}
.jumbo{
  position: absolute;
  top:30%;
  left: 19.5%;
}
.display{
  color: #f2f4f7;
  font-size: 60px;
  font-weight: 700;
}
.display1{
  color: #f2f4f7;
  font-weight: 450;
}
.smal{
  color: white;
}
.home-btn{
  background: rgba(242, 242, 242, 0.4);
  color: black;

}
.home-btn:hover{
  color: #d0d4db;
}
/* .btnsearch{
  background:rgba(242, 242, 242, 0.4);
  color: white;
} */
.heading{
  margin-top: 1%;
  font-family: 'Acme', cursive;
}
.imga{
  transition: 1s;
  padding: 10px;
    width: 300px;
    height: 200px;
}
.newcontainer{
margin: 10px 50px 0px 50px;
}
//modal img
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {
  filter: grayscale(20%);
  transition: .5s;
  transform:scale(1.1);}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
//dogstyle
